.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


  td {
    vertical-align: middle;
  }

  h1 {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
  }

  svg {
    pointer-events: none;
    padding: 5px;
    width: 1.7em;
    height: 1.7em;
  }


.custom-table__action-btn {
  cursor: pointer;
  border: 1px solid #eee;
  background: none;
  margin-right: 5px;
}
  
.modal-window {
    display: none;
    background-color: antiquewhite;
    border: 5px solid rgb(119, 119, 116);
    width: 100%;
    max-width: 500px;
    height: 400px;
    margin: 0 auto;
    position: fixed;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
  }

.modal-window__title {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
  }

.modal-window__inputs {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

.modal-window__input-item, .modal-window__buttons {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

.modal-window__buttons {
    margin-top: 40px;
    justify-content: space-around;
  }

.modal-window__buttons button {
    max-width: 130px;
    background-color: white;
    border: 2px solid rgb(119, 119, 116);
  }

.modal-window__input-item input {
    width: 250px;
    height: 30px;
  }

.table {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 30px;
  }

